head
  meta(charset='utf-8')
  title My portfolio
  meta(content='width=device-width, initial-scale=1' name='viewport')

  <!-- favion.ico -->
  link(rel="icon", href="../assets/img/fav_forest.png", type="image/png")

  link(rel="stylesheet", href="assets/css/main.css")
  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)